In [2]:
import pandas as pd
import numpy as nd

In [6]:
df = pd.read_csv("PaGameO數據資料/A_stat_data_112 2/A_stat_data_112.csv")

In [7]:
df.head()

,grade,mission_name,mission_difficulty,mission_field,mission_type,mission_semester_year,mission_semester,mission_datetime_utc8,mission_status,is_completed,...,answer_duration_sec,mission_answer_count,content_indicator_correct_rate,comprehensive_indicator_correct_rate,explanation_indicator_correct_rate,extraction_indicator_correct_rate,form_indicator_correct_rate,first_correct_rate,user_id,mission_id
0,5,05/06 虎姑婆【多元文化教育－傳說故事】（初階）,易,文學,連續,112,112-2,Mon May 06 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-8373966078912715601,8154604467375388289
1,5,05/06 二郎【多元文化教育－傳說故事】（初階）,中,文學,連續,112,112-2,Mon May 06 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,3516683932418412104,3762301478342295221
2,6,05/09 蚩尤【多元文化教育－傳說故事】（初階）,難,人物,連續,112,112-2,Thu May 09 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-65799051578279613,4652807748946159405
3,5,05/13 狗狗吃便便【環境教育－動物奇聞】（初階）,中,生活知識,非連續,112,112-2,Mon May 13 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-6293485111595748020,240621445882253268
4,6,05/16 白蟻跟你想像的不一樣！【環境教育－動物奇聞】（初階）,易,自然科學,連續＋圖表,112,112-2,Thu May 16 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,4998280410504838977,-3340858198738005072

In [9]:
a = df.columns
a_series = a.to_series()
print(a_series)
a_series.to_csv('work1.csv', index=False)

grade                                                                  grade
mission_name                                                    mission_name
mission_difficulty                                        mission_difficulty
mission_field                                                  mission_field
mission_type                                                    mission_type
mission_semester_year                                  mission_semester_year
mission_semester                                            mission_semester
mission_datetime_utc8                                  mission_datetime_utc8
mission_status                                                mission_status
is_completed                                                    is_completed
completed_at_utc8                                          completed_at_utc8
correct_rate                                                    correct_rate
answer_duration_sec                                      answer_duration_sec
mission_answer_count                                    mission_answer_count
content_indicator_correct_rate                content_indicator_correct_rate
comprehensive_indicator_correct_rate    comprehensive_indicator_correct_rate
explanation_indicator_correct_rate        explanation_indicator_correct_rate
extraction_indicator_correct_rate          extraction_indicator_correct_rate
form_indicator_correct_rate                      form_indicator_correct_rate
first_correct_rate                                        first_correct_rate
user_id                                                              user_id
mission_id                                                        mission_id
dtype: object

In [10]:
b = df.describe()
print(b)
b.to_excel('work2.xlsx')

              grade  mission_semester_year  is_completed   correct_rate  \
count  1.909959e+06              1909959.0  1.909959e+06  454877.000000
mean   5.949924e+00                  112.0  2.381606e-01       0.412165
std    1.586873e+00                    0.0  4.259580e-01       0.317815
min    4.000000e+00                  112.0  0.000000e+00       0.000000
25%    5.000000e+00                  112.0  0.000000e+00       0.200000
50%    6.000000e+00                  112.0  0.000000e+00       0.400000
75%    7.000000e+00                  112.0  0.000000e+00       0.600000
max    9.000000e+00                  112.0  1.000000e+00       1.000000

       answer_duration_sec  mission_answer_count  \
count        453620.000000          1.909959e+06
mean            147.150187          7.111859e-01
std             328.610611          1.676427e+00
min               1.000000          0.000000e+00
25%              10.000000          0.000000e+00
50%              37.000000          0.000000e+00
75%             176.000000          1.000000e+00
max            3600.000000          2.100000e+02

       content_indicator_correct_rate  comprehensive_indicator_correct_rate  \
count                   106038.000000                         448856.000000
mean                         0.377652                              0.414174
std                          0.475326                              0.401837
min                          0.000000                              0.000000
25%                          0.000000                              0.000000
50%                          0.000000                              0.333333
75%                          1.000000                              0.857143
max                          1.000000                              1.000000

       explanation_indicator_correct_rate  extraction_indicator_correct_rate  \
count                       392142.000000                      414331.000000
mean                             0.385411                           0.438963
std                              0.446032                           0.455068
min                              0.000000                           0.000000
25%                              0.000000                           0.000000
50%                              0.000000                           0.333333
75%                              1.000000                           1.000000
max                              1.000000                           1.000000

       form_indicator_correct_rate  first_correct_rate       user_id  \
count                 78801.000000       473392.000000  1.909959e+06
mean                      0.375179            0.451405 -5.836128e+15
std                       0.482087            0.316127  5.341203e+18
min                       0.000000            0.000000 -9.223321e+18
25%                       0.000000            0.200000 -4.611004e+18
50%                       0.000000            0.400000  6.201597e+16
75%                       1.000000            0.600000  4.565403e+18
max                       1.000000            1.000000  9.218903e+18

         mission_id
count  1.909959e+06
mean  -1.368036e+17
std    5.285432e+18
min   -9.144214e+18
25%   -4.782878e+18
50%   -2.337655e+17
75%    3.909487e+18
max    9.217426e+18

C:\Users\Huwalli\AppData\Local\Temp\ipykernel_14188\3185741042.py:3: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  b.to_excel('work2.xlsx')

In [11]:
df.sort_index(axis=1, ascending=False)

,user_id,mission_type,mission_status,mission_semester_year,mission_semester,mission_name,mission_id,mission_field,mission_difficulty,mission_datetime_utc8,...,grade,form_indicator_correct_rate,first_correct_rate,extraction_indicator_correct_rate,explanation_indicator_correct_rate,correct_rate,content_indicator_correct_rate,comprehensive_indicator_correct_rate,completed_at_utc8,answer_duration_sec
0,-8373966078912715601,連續,已派發任務,112,112-2,05/06 虎姑婆【多元文化教育－傳說故事】（初階）,8154604467375388289,文學,易,Mon May 06 08:00:00 UTC 2024,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3516683932418412104,連續,已派發任務,112,112-2,05/06 二郎【多元文化教育－傳說故事】（初階）,3762301478342295221,文學,中,Mon May 06 08:00:00 UTC 2024,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-65799051578279613,連續,已派發任務,112,112-2,05/09 蚩尤【多元文化教育－傳說故事】（初階）,4652807748946159405,人物,難,Thu May 09 08:00:00 UTC 2024,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-6293485111595748020,非連續,已派發任務,112,112-2,05/13 狗狗吃便便【環境教育－動物奇聞】（初階）,240621445882253268,生活知識,中,Mon May 13 08:00:00 UTC 2024,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4998280410504838977,連續＋圖表,已派發任務,112,112-2,05/16 白蟻跟你想像的不一樣！【環境教育－動物奇聞】（初階）,-3340858198738005072,自然科學,易,Thu May 16 08:00:00 UTC 2024,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909954,5090607127449525741,非連續,已派發任務,112,112-2,04/22 動物園該存在嗎？【環境教育－動物保育】（中階）,703618323232836566,議題,難,Mon Apr 22 08:00:00 UTC 2024,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909955,1122720388891184818,連續,已派發任務,112,112-2,04/22 人與鼠的戰爭【環境教育－動物保育】（中階）,8809938774431070893,世界櫥窗,易,Mon Apr 22 08:00:00 UTC 2024,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909956,-3633088233029289359,非連續,已派發任務,112,112-2,04/22 動物園該存在嗎？【環境教育－動物保育】（中階）,703618323232836566,議題,難,Mon Apr 22 08:00:00 UTC 2024,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909957,-3198336096824660439,NaN,已派發任務,112,112-2,4月特別任務－【SDGs 議題】（中階）,-371611706378504607,NaN,NaN,Mon Apr 22 08:00:00 UTC 2024,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909958,8248998181802054321,NaN,已派發任務,112,112-2,4月特別任務－【SDGs 議題】（中階）,-371611706378504607,NaN,NaN,Mon Apr 22 08:00:00 UTC 2024,...,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df["user_id"][0:3]

0   -8373966078912715601
1    3516683932418412104
2     -65799051578279613
Name: user_id, dtype: int64

In [21]:
a = 'grade'
df_a = pd.DataFrame([a], columns=['column_name'])
df_a.to_excel('a_output.xlsx', index=False)

C:\Users\Huwalli\AppData\Local\Temp\ipykernel_14188\2154840576.py:3: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df_a.to_excel('a_output.xlsx', index=False)

In [ ]:
c = df.groupby(['mission_field', 'mission_difficulty']).mean()
c